<a href="https://colab.research.google.com/github/thamyrys-bl/example-geobr/blob/main/Estudos_Tipos_de_Dados_Variaveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Trabalhando com textos

<h1> Strings e print() <h1>

Textos em Python são colocados entre aspas 'str'

Vamos mostrar a msg para o usuário:
 'Olá, Mundo!'

 Para isso vamos usar a função:
 print()

In [1]:
#função imprimir
print('Olá, Mundo!!!')

Olá, Mundo!!!

<h1> Entendendo a Estrutura <h1>

print('Olá Mundo!')
>string [Tipo de Dado] = 'Olá Mundo' = é
uma cadeia de caracteres 'str'

>'print'( ) [Função] = imprime para o 
usuário o que estiver dentro do: ( )

> '#' [Comentário] = após o '#' tudo é
desprezado na linha

In [2]:
#exemplos
print('Olá Mundo')

print('   ')
print('10')
print()
print('@#$$')

Olá Mundo

10

@#$$

# Trabalhando com números

Número em Python são colocados direto e podem ou não ter casas decimais.

> 7 = número interio = 'int'

> 7.2 = núero com 'vírgula' = 'float'

**Atenção: o separador decimal no Python 
é o ponto**

In [3]:
#número do tipo int
print(7)

7

In [4]:
#número do tipo float
print(7.2)

7.2

<h1> Somando números <h1>

Basta usar o sinal de '+'

In [5]:
#somando 2 int
print(7+2)

9

In [6]:
#somando 2 float
print(7.2+2)

9.2

In [7]:
# e se eu colocar os números entre 'aspas'?
print('7'+'2')

72

<h1> Porque o valor acima deu 72 e não 9?

Lembre-se: Se tem **aspas** então é 
**string**

Se é string o símbolo de '+'
**concatena** as strings, ou seja,
junta uma com a outra!!!

'João' + 'Silva = 'João Silva'

In [8]:
#print do João Silva
print('João' + ' ' + 'Silva')

João Silva

<h2> Outras maneiras de se usar o 
print() <h2>

Para se juntar várias informações em um print só, precisamos concatenar nossas frases e valores.
Temos 2 maneiras de fazer:

> print('Frase 1' + 'Frase 2' + ...)

> print('Frase 1','Frase 2', + ...)

In [9]:
#Exemplos de print com o +
print('Meu nome é' + 'Thamyrys')

#Exemplos de print com a ,
print('Meu nome é','Thamyrys')

Meu nome éThamyrys
Meu nome é Thamyrys

In [10]:
#Exemplo de print com string e números usando ,
print('eu tenho',1,'filho')

eu tenho 1 filho

In [11]:
#Exemplo de print com string e números usando +
#print('eu tenho' + 1 + 'filho') dá erro

<h2> Explicação do Porquê do erro acima <h2>

Quando usamos a função 'print(, , ,)' separando com vírgulas a função está 
plotando 1 termo de cada vez, seja ele string, seja ele int, seja ele float.

Quando usamos a função 'print(+ + +)'
separando com soma a gente está somando
os valores dentro do print antes de plotar.
E a função soma tem funcionalidades
diferentes dependendo do Tipo de Dado que
estamos trabalhando.

> int + int -> soma

> float + float -> soma

> int + float -> soma

> str + str -> concatenar

> str + int -> ***erro***

# Trabalhando com variáveis

<h1> Declarando Variáveis </h1>

Da mesma maneira que em estudo de 
equações (x + 7 = 8), tínhamos letras
que representavam números, em programação
elas são chamadas de variáveis!!!

O nome é variável pois durante os nossos 
programas elas podem variar de valor.

Utilizamos as variáveis para armazenar
valores (sejam eles do tipo texto ou numérico) para que possamos utilizar 
várias vezes durante o mesmo programa.

Também podemos utilizar para salvar um valor que o usuário fornece para gente.

<h2> Como declarar? </h2>

'nomeDaVariavel = valorDaVariavel'

<h3> Exemplos </h3>

> lanche = x-burguer

*lê-se: a variável lanche recebe o valor 'x-burguer' do tipo str*

> preco = 10.9

> qtd = 2

Variáveis nõa podem ter:
* Começar com número ou Caractere Especial

<h3> Boas práticas!!! </h3>

* O nome das variáveis deve ser claro
para qualquer programador que ler o seu programa

> Não use: preço - Use:preco

* Use as variáveis com letra minúscula e 
separe as palavras por letra maiúscula 
ou underline '_'

> 'lanchePreco'

> 'lanche_preco'

* Em variáveis com nomes grandes (como 
acima), primeiro coloque o nome do Objeto para depois a da caracteristica

> 'lanchePreco', pois Preço é uma
característica (atributo) do Lanche.

In [12]:
# Vamos fazer algumas contas:

#Declarando as variáveis (atribuindo valores):
lanchePreco = 10.9
batataPreco = 5.9
refriPreco = 3

In [13]:
# Quanto custa pedir um Lanche e uma Batata?
print(lanchePreco + batataPreco)

16.8

In [14]:
# Quanto custa pedir um Lanche e um Refri?
print(lanchePreco + refriPreco)

13.9

In [15]:
# Podemos atribuir uma variável para a conta total do pedido?
pedidoValorTotal = lanchePreco + batataPreco + refriPreco
print(pedidoValorTotal)

19.8

<h2> Podemos fazer impressão composta?
</h2>

Para montarmos melhor o resultado para o nosso cliente é comum utilizarmos a função com strings e ints e floats 
misturados

In [16]:
#Quanto fica pedir um lanche e uma batata?
#Considere a forma de pagamento pelo cartão
pagamentoForma = 'cartao'
pedidoValorTotal = lanchePreco + batataPreco
print('Vc pediu um lanche de: R$',lanchePreco, 'e uma batata de: R$',batataPreco,'totalizando: R$',pedidoValorTotal,'. E o seu pagamento foi feito por:',pagamentoForma)

Vc pediu um lanche de: R$ 10.9 e uma batata de: R$ 5.9 totalizando: R$ 16.8 . E o seu pagamento foi feito por: cartao

##Pegando Dados do Ussuário

<h1> Função input() </h1>

Para melhorarmos a interface com o 
usuário podemos pedir para que ele insira
os valores de cada variável usando o
'input()'

Para usarmos precisamos atribuir a 
resposta do usuário a uma variável e
também colocar uma frase que indique para o usuário o que ele deve digitar:

<h3> Exemplo </h3>

lancheNome = input('Qual lanche vc quer?)

In [17]:
#Peça para o usuário falar qual lanche ele quer pedir:
lancheNome= input('Qual lanche vc quer? ')
print('vc pediu um(a): ',lancheNome)

Qual lanche vc quer? pizza
vc pediu um(a):  pizza

# Detectando tipo de Variáveis

<h1> Função: type( ) </h1>

No input e em outros casos podemos nos
deparar com tipos de dados indesejados.
Para isso podemos validar utilizando a
função: 'type( )'

In [18]:
#Use o type em uma string
type('Thamyrys')

str

In [19]:
#Use o type em um Float
type(2.34)

float

In [20]:
#Use o type em Int
type(7)

int

In [21]:
#Use o type em 2 variaveis seguidas:
type(5)
type('Thamyrys')

str

<h3> Por que no exemplo acima só apareceu o tipo de uma variável? E por que foi
somente da última? </h3>

Quando usamos o type direto ele só vai
mostrar no terminal o tipo da última
variável. Se quisermos mostrar mais do
que uma temos que usar uma função que
consegue mostrar várias coisas para o usuário de uma só vez:

o 'print(  )

In [22]:
#Use o type em 2 variáveis
print(type(5))
print(type('Thamyrys'))

<class 'int'>
<class 'str'>

Quando usamos variás funções uma dentro
da outra o Python sempre irá executar as
funções de mais de dentro primeiro para
depois as mais de fora...

Vamos usar uma variável de auxílio para nos ajudar nesse raciocínio:

In [23]:
#Use o type em 2 variáveis seguidas:
variavelTipo = type(lanchePreco)
print(type(lanchePreco))

variavelTipo = type(lancheNome)
print(type(lancheNome))

<class 'float'>
<class 'str'>

In [24]:
#Peça para o usuário digitar um número e veja o tipo dessa variável
numero = input ('Por favor, digite um número: ')
type(numero)

Por favor, digite um número: 2

str

<h3> Mas por que o tipo da variável do
exemplo acima não está como númerica?
</h3>

Sempre que o usuário inputa algum valor o Python vai entender sempre como string.
Para contornarmos esse problema precisamos aprender a como converter
variáveis de um tipo para outro.

## Tipo de Dado Booleano

É uma variável que sempre terá valor de
Verdadeiro ou Falso:

> 'True'

> 'False'

OBs.: Foco na letra maiúscula.

In [25]:
#Crie 2 variáveis: pagamentoCartao e pagamentoDinheiro,
#atribua valores Booleanos a ela e verifique o tipo da variável
pagamentoCartao = True
pagamentoDinheiro = False
print(type(pagamentoCartao))
print(type(pagamentoDinheiro))

<class 'bool'>
<class 'bool'>

# Exercícios

<h3> Parte 1 </h3>

Crie 3 variáveis:

nomePrimeiro, nomeMeio, nomeUltimo

Atribua um valor para cada uma delas e imprima a seguinte frase para o usuário:

'Thamyrys Brito de Lucena, seja muito bem vinda a programação'

In [26]:
nomePrimeiro = 'Thamyrys'
nomeMeio = 'Brito'
nomeUltimo = 'de Lucena'
print(nomePrimeiro,nomeMeio,nomeUltimo,', seja muito bem vinda a programação.')

Thamyrys Brito de Lucena , seja muito bem vinda a programação.

<h3> Parte 2 </h3>

Respondendo ao usuário
Faça um programa que leia o nome de uma pessoa e mostre uma mensagem.

In [30]:
nome = input('Digite seu nome: ')
print('É um prazer te conhecer, {}!'.format(nome))

Digite seu nome: Thamyrys Brito
É um prazer te conhecer, Thamyrys Brito!